.TodoItem {
  font-size: 14px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 10px;
  border-radius: 30px;
  border-style: solid;
  border-color: var(--light-grey);
  border-width: 1px;
}

.TodoItem--completed{
  background-color: var(--light-light-grey);
  transition: 0.3s;
}

.TodoItem-p{
  margin: 0;
  padding: 0;
}

.TodoItem-p--completed{
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  color: var(--light-grey);
  transition: 0.3s;
}

.TodoItemCheck {
    cursor: pointer;
    color: var(--marine-green);
}

.TodoItemCheck--completed{
  background-color: var(--marine-green);
  color: white;
  border-radius: 50%;

}

.TodoItemCheck:hover{
  background-color: var(--marine-green);
  border-radius: 50%;
  color: white;
}

.TodoItemDelete {
  color: red;
  cursor: pointer;
}

.TodoItemDelete:hover{
  background-color: red;
  color: white;
  border-radius: 50%;
}
