input{
    border: none;
    border-radius: 5px;
    box-shadow: rgba(34, 66, 71, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
}

input::placeholder{
    color: var(--light-grey);
    text-align: center;
}

