.TodoSearchBar{
    border: none;
    border-radius: 15px;
    box-shadow: rgba(34, 66, 71, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.TodoSearchBar::placeholder{
    color: var(--light-grey);
    text-align: center;
}

.TodoSearchBar:focus {
    outline-color: var(--marine-green);
  }

.noSearchMatches{
    text-align: center;
    font-size: 12px;
    color: var(--light-grey);
    margin: 0;
}


